<div class="container">
  <h1>Edit Wiki</h1>
  <div class="row">
    <div class="col-md-4">
      <p>Guidelines for Wikis</p>
      <ul>
        <li>Make sure it rhymes.</li>
        <li>Don't use the letter "A".</li>
        <li>The incessant use of hashtags will get you banned.</li>
      </ul>
    </div>
    <div class="col-md-8">
      <%= form_for @wiki do |item| %>
          <div class="form-group">
            <%= item.label :title %>
            <%= item.text_field :title, class: 'form-control', placeholder: 'Enter wiki title' %>
          </div>

          <div class="form-group">
            <%= item.label :body %>
            <%= item.text_area :body, class: 'form-control', placeholder: 'Enter wiki body' %>
          </div>
          <% if current_user.subscribed? %>
              <div class="form-group">
                <%= item.label :private, class: 'checkbox' do %>
                    <%= item.check_box :private %> Private topic
                <% end %>
              </div>
          <% else %>
              <%= item.check_box :private, disabled: true %> Private topic
          <% end %>
          <div class="form-group">
            <%= item.submit 'Save', class: 'btn btn-success' %>
          </div>
      <% end %>
      <div class="form-group">
        <p>Collaborators</p>
        <% collaborator = @wiki.collaborators %>
        <% User.all.each do |user| %>
            <div class="user">
              <%= check_box_tag :collaborators_users, user.id, collaborator.include?(user.id) %>
              <%= user.username %>
            </div>
        <% end %>
      </div>
      <%= render partial: 'collaborators/form' %>
    </div>
  </div>
</div>